/*
Colors
Background: #080e1e
Second Background: #030a12
Forground: #132847
Text: #a19279
light Text: #9b9aef
Highlight background: #735b2f
Icons: #ebe7d6
*/

html {
  background-color: black;
}

p {
  color: #beb688;
}

#root {
  background-image: url("./lolBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* height: 100%; */
}

.App {
  width: 90%;
  min-width: 500px;
  margin: auto;
  text-align: center;
  /* min-height: 2000px; */
  /* background-color: #131e20; */
}

.section1,
.section2,
.section3 {
  /* background-color: #131e20; */
  background-color: #021a21;
}

.background-image {
  width: 100vw;
  height: 100vh;
}

.App-logo {
  height: 40px;
  width: 40px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-body {
  border: solid #970000;
}

.App-footer {
  border: solid white
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.section1 {
  /* border: blue solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}

.section1a {
  display: flex;
  justify-content: space-around;
  width: 12vw;
  align-items: center;
  margin-right: 1%;
  /* border: lightblue solid; */
}

.section2 {
  /* border: solid red; */
  display: flex;
  justify-content: space-between;
}

.section2a {
  /* border: solid green; */
  width: 50vw;
  display: flex;
  justify-content: space-around;
}

.section2b {
  /* border: solid lightgreen; */
  width: 50vw;
}

.section2b1 {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}

.section2b3 {
  display: flex;
  justify-content: space-around;
}

.section3 {
  display: flex;
  justify-content: space-around;
}

.filteroptions {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  width: 20%;
  min-width: 189px;
  /* border: solid blue; */
}

.foption {
  text-align: left;
}

label {
  color: #beb688;
}

.itemsfield {
  width: 30vw;
  min-width: 260px;
  /* border: solid lightblue; */
}

.itemsetname {
  display: flex;
  align-items: center;
  width: 21%;
  max-width: 210px;
  min-width: 150px;
  justify-content: space-between;
  margin-left: 1%;
  /* border: #61dafb solid; */
}

.itemsetname p {
  color: #beb688;
}

.itemgold {
  width: 25%;
}

.items {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  max-height: 560px;
  /* justify-content: space-between; */
}

.level {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #beb688;
  width: 12%;
  max-width: 126px;
  min-width: 100px;
  margin-left: 18%;
  /* border: red solid */
}

.searchform {
  width: 63%;
}

.searchbar {
  color: #fff;
  background-color: #000306;
  border: #cdbe8e solid 1px;
  width: 100%;
  height: 35px;
}

#itemsearch[type="text"]:focus {
  background-color: #0f191f;
  border: #cdbe8e solid 1px;
  outline: none;
}

.sortbar {
  color: #beb688;
  background-color: #0f191f;
  border: #cdbe8e solid 1px;
  height: 39px;
}

#sortitems:focus {
  background-color: #0f191f;
  outline: none;
}

.searchsort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6%;
}

.stats {
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  /* border: #cdbe8e solid 1px; */
  margin-right: 3%;
}

.uniqueblock {
  border: #cdbe8e solid 0.5px;
  width: 32.94%;
  height: 23%;
}

.statsLvl {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.statblock {
  min-height: 150px;
}

.championname {
  /* width: 35%; */
  font-size: 26px;
  margin-left: 9%;
}

.championportrait {
  display: flex;
}

.icons {
  color: #cdbe8e;
}

/* Buttons */
.btn-style {
  background-color: #1b2931;
  border-width: 1px;
  border-color: #cdbe8e;
  border-style: solid;
  line-height: 22px;
  border-radius: 50%;
}

.btn-switch {
  background-color: #131e20;
}

.btn-save {
  color: #beb688;
  background-color: #1e2327;
  border-width: 1px;
  border-color: #cdbe8e;
  border-style: solid;
  line-height: 22px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  padding: 6px 9px;
}

.btn-clear {
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: bold;
}


/* Custom Checkboxes */

input[type=checkbox] {
  visibility: hidden;
  height: 0;
  width: 0;
}

.checkmark {
  display: inline-block;
  height: 12px;
  width: 12px;
  background-color: #0c1314;
  border: solid #cdbe8e 1px;
  border-radius: 6%;
  margin-right: 9px;
}

.foption:hover input~.checkmark {
  background-color: #1d2e30;
}



/* .checkmark:after {
  content: "";
  position: absolute;
  display: none;
} */

/* .foption input:checked~.checkmark:after {
  display: block;
} */

.foption input:checked~.checkmark {
  background-color: #cdbe8e;
}

/* .foption .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} */

/* Images */

.itemImages {
  border: #cdbe8e solid 1px;
  width: 60px;
  height: 60px;
}

.championImage {
  border: #cdbe8e solid 1px;
  width: 66px;
  height: 66px;
}