/*
Colors
Background: #080e1e
Second Background: #030a12
Forground: #132847
Text: #a19279
light Text: #9b9aef
Highlight background: #735b2f
Icons: #ebe7d6
*/



.App {
  text-align: center;
  background-color: #131e20;
}

.App-logo {
  height: 40px;
  width: 40px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  /* border: solid #970000; */
}

.App-footer {
  border: solid black
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.section1 {
  border: blue solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section1a {
  display: flex;
  justify-content: space-around;
  width: 12vw;
  /* border: lightblue solid; */
}

.section2 {
  border: red solid;
  display: flex;
  justify-content: space-between;
}

.section2a {
  border: green solid;
  width: 50vw;
  display: flex;
  justify-content: space-around;
}

.section2b {
  border: lightgreen solid;
  width: 50vw;
}

.section2b1 {
  display: flex;
  justify-content: space-around;
}

.section2b3 {
  display: flex;
  justify-content: space-around;
}

.section3 {
  display: flex;
  justify-content: space-around;
}

.filteroptions {
  border: blue solid;
  width: 20vw;
}

.items {
  border: lightblue solid;
  width: 30vw;
}

.itemsetname {
  display: flex;
  align-items: center;
  width: 25vw;
  justify-content: space-around;
  /* border: #61dafb solid; */
}

.itemsetname p {
  color: #beb688;
}

.level {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: red solid */
  color: #beb688;
  width: 12vw;
}

.statblock {
  min-height: 150px;
}

.icons {
  color: #cdbe8e;
}

/* Buttons */
.btn-style {
  background-color: #1b2931;
  border-width: 1px;
  border-color: #cdbe8e;
  border-style: solid;
  line-height: 22px;
  border-radius: 50%;
}

.btn-switch {
  background-color: #131e20;
}

.btn-save {
  color: #beb688;
  background-color: #1e2327;
  border-width: 1px;
  border-color: #cdbe8e;
  border-style: solid;
  line-height: 22px;
}